.address {
    font-style: normal;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
     }   
}

.address__list .address__item {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
}


.address__maps {
   color: var(--white-color);

    line-height: 1.71;

    text-decoration: none;

    transition: color var(--animation);

    &:hover,
    &:focus {
    color: #2196F3;
}
}



.address__mailto-tel {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;

    transition: color var(--animation);

    &:hover,
    &:focus {
    color: #2196F3;
}
}

